{% extends "credit_system/base.html" %}

{% block page_title %}Список клієнтів{% endblock %}

{% block content %}
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <strong>Список клієнтів</strong>
        </div>

        <div class="card-body">

            <!-- Пошук -->
            <form method="GET" action="{% url 'all_clients_list' %}" class="mb-3">
                <input type="text" name="q" >
                <button type="submit">Шукати</button>
            </form>

            {% if clients %}
                <div class="table-responsive" style="max-height: 400px; overflow-y: scroll;">
                    <table class="table table-bordered table-hover">
                        <thead class="table-primary text-center">
                            <tr>
                                <th>ПІБ</th>
                                <th>ІПН</th>
                                <th>Телефон</th>
                                <th>Статус</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for client in clients %}
                                <tr>
                                    <td>
                                        <a href="{% url 'client_detail' client.pk %}?source=clients" class="text-decoration-none fw-bold text-primary">
                                            {{ client.last_name }} {{ client.first_name }} {{ client.middle_name }}
                                        </a>
                                    </td>
                                    <td>{{ client.IPN }}</td>
                                    <td>{{ client.phone_number }}</td>
                                    <td>
                                        {% if client.is_active %}
                                            <span class="badge bg-warning text-dark">Активний</span>
                                        {% else %}
                                            <span class="badge bg-success">Не активний</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            {% else %}
                <p>Клієнтів не знайдено.</p>
            {% endif %}


            <div class="d-flex justify-content-start gap-2 mt-3">
                <a href="{% url 'index' %}" class="btn btn-primary">
                    Повернутись на головну
                </a>
                <a href="{% url 'add_new_client' %}" class="btn btn-success">
                    Створити клієнта
                </a>
            </div>
            </div>
    </div>
{% endblock %}