{% extends "credit_system/base.html" %}

{% block page_title %}Кредитний портфель{% endblock %}

{% block content %}
    <div class="card shadow-sm">
        <div class="card-body">
            {% if credits %}
                <table class="table table-bordered table-hover">
                    <thead class="table-primary">
                        <tr>
                            <th>Користувач</th>
                            <th>Номер</th>
                            <th>Сума</th>
                            <th>Відсоток</th>
                            <th>Дата видачі</th>
                            <th>Залишок</th>
                            <th>Статус</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for credit in credits %}
                            <tr>
                                <td>
                                    <a href="{% url 'client_detail' credit.user.pk %}?source=credits" class="text-decoration-none fw-bold text-primary">
                                        {{ credit.user.last_name }} {{ credit.user.first_name }}
                                    </a>
                                </td>

                                <td>
                                    <a href="{% url 'credit_detail' credit.pk %}" class="text-decoration-none fw-bold text-primary">
                                        {{ credit.number }}
                                    </a>
                                </td>
                                <td>{{ credit.summa_credit }} грн</td>
                                <td>{{ credit.percent }}%</td>
                                <td>{{ credit.start_date|date:"d.m.Y" }}</td>
                                <td>{{ credit.ostatok }} грн</td>
                                <td>
                                {% if credit.closed %}
                                    <span class="badge bg-success">Закритий</span>
                                {% else %}
                                    <span class="badge bg-warning text-dark">Активний</span>
                                {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Кредитів не знайдено.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}