{% extends "credit_system/base.html" %}

{% block content %}
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <strong>Кредитний калькулятор</strong>
        </div>
        <div class="card-body">
            <div class="container mt-4">
                <form method="post" novalidate>
                    {% csrf_token %}

                    <div class="row g-2 align-items-end">

                        <div class="col-md-2">
                            <div class="mb-3">
                                <label for="{{ form.credit_sum.id_for_label }}" class="form-label small">{{ form.credit_sum.label }}</label>
                                {{ form.credit_sum }}
                                {% for error in form.credit_sum.errors %}<div class="alert alert-danger p-1 mt-1 small">{{ error }}</div>{% endfor %}
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="mb-3">
                                <label for="{{ form.percent.id_for_label }}" class="form-label small">{{ form.percent.label }}</label>
                                {{ form.percent }}
                                {% for error in form.percent.errors %}<div class="alert alert-danger p-1 mt-1 small">{{ error }}</div>{% endfor %}
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="mb-3">
                                <label for="{{ form.start_date.id_for_label }}" class="form-label small">{{ form.start_date.label }}</label>
                                {{ form.start_date }}
                                {% for error in form.start_date.errors %}<div class="alert alert-danger p-1 mt-1 small">{{ error }}</div>{% endfor %}
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="mb-3">
                                <label for="{{ form.srok.id_for_label }}" class="form-label small">{{ form.srok.label }}</label>
                                {{ form.srok }}
                                {% for error in form.srok.errors %}<div class="alert alert-danger p-1 mt-1 small">{{ error }}</div>{% endfor %}
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="mb-3">
                                <label for="{{ form.day_of_pay.id_for_label }}" class="form-label small">{{ form.day_of_pay.label }}</label>
                                {{ form.day_of_pay }}
                                {% for error in form.day_of_pay.errors %}<div class="alert alert-danger p-1 mt-1 small">{{ error }}</div>{% endfor %}
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="mb-3">
                                <div class="col-12 text-center">
                                    <button type="submit" class="btn btn-primary mt-2">Розрахувати</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                {% if grafik %}
                <hr>
                    <h4>Результат розрахунку:</h4>
                    <div class="table-responsive" style="max-height: 380px; overflow-y: scroll;">
                        <table class="table table-bordered table-hover">
                            <thead class="table-primary">
                                <tr>
                                    <th>Платіж</th>
                                    <th>Дата</th>
                                    <th>Сума платежу</th>
{#                                    <th>Нараховані %</th>#}
                                    <th>Погашені %</th>
                                    <th>Борг по %</th>
                                    <th>Погашено кредиту</th>
                                    <th>Залишок кредиту</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for payment in grafik %}
                                    <tr>
                                        <td>{{ payment.number }}</td>
                                        <td>{{ payment.date_of_pay }}</td>
                                        <td>{{ payment.payment|floatformat:2 }} грн</td>
                                        <td>{{ payment.pog_summa_percent|floatformat:2 }} грн</td>
                                        <td>{{ payment.dolg_percent|floatformat:2 }} грн</td>
                                        <td>{{ payment.pog_credit|floatformat:2 }} грн</td>
                                        <td>{{ payment.ostatok|floatformat:2 }} грн</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>


                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}